<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <meta name="propeller" content="da3fdafeb3a0f1ea42befd9f24edd1d3">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="An Ouath Connector">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="TCad">
  <meta property="og:url" content="https://openouath.cf">
  <meta property="og:description" content="An Ouath Connector">
  <meta name="msapplication-TileColor" content="#2c75ff">
  <meta name="keywords" content="Ouath, Github, Login, Service">
  <meta property="og:type" content="object">
  <meta property="og:image" content="">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="OpenOuath">
  <link rel="apple-touch-icon-precomposed" href="">
  <meta name="msapplication-TileImage" content="">
  <meta name="theme-color" content="#2c75ff">
  <link rel="shortcut icon" href="">
  <meta name="abuseipdb-verification" content="">


    <link rel="icon" href="">

    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/app/style.css">
    
    </head>
    <body style="margin:0;">
        
        


    <nav id="nav" class="navbar navbar-expand-lg fixed-top shadow navbar-dark" style="background-color: rgb(0, 17, 255);">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h2>OpenOuath</h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                          <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://docs.openouath.cf">Docs</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://github.com/JustBeingAbdi/OpenOuath">Github</a>
                    </li>
                </ul>
                 <ul id="headerloggedin" class="navbar-nav" style="display: none;">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                            <img  src="/images/app/account.jpg" class="rounded-circle" height="42" alt="Avatar"> <span id="header_username" style="padding-left: 10px;">Unknown</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><h6 class="dropdown-header">Menu</h6></li>
                            <li><a id="account1" class="dropdown-item" href="#"><i class="far fa-user"></i>Manage Account</a></li>
                            <li><a id="app1" class="dropdown-item" href="#"><i class="fas fa-server"></i> Dashboard</a></li>
                            <hr>
                            <li><a id="logout1" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                        </ul>
                        </li>
                    </ul>
               
                    
                        <a id="headerlogin" href="/login" class="btn btn-outline-light btn-lg" type="button" data-ripple-color="dark">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                        
                    
                
            </div>
        </div>
    </nav>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.js"></script>
<script src="/js/app/header.js"></script>