<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/css/app/style.css">
<title> Home - OpenOuath </title>

<div id="main" class="container text-center text-light" style="padding-top: 110px; padding-bottom: 20px;">
    
        <h2>OpenOuath</h2>

                    <a href="#" id="r_more" onclick="ShowDivs('about')" type="button" class="btn btn-success"><i class="fas fa-plus"></i> About OpenOuath</a><a href="#" id="docs" onclick="Redirect('docs')" type="button" class="btn btn-success"><i class="fas fa-plus"></i> Docs</a>


</div>
<script src="/js/app/index.js"></script>
<script src="/js/app/pages.js"></script>