<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/css/app/style.css">
<title> Home - OpenOuath </title>

<div id="main" class="container text-center text-light" style="padding-top: 110px; padding-bottom: 20px;">
    
        <h2>OpenOuath</h2>

            <button type="button" class="btn btn-primary" onclick="window.location.assign('/login')"> Login</button>
            
            <div class="btn-group btn-group-lg" role="group" style="display: none;">
                
                
            <a id="app" href="#" type="button" class="btn btn-primary"><i class="fas fa-server"></i> Dashboard</a>
            <a id="account" href="#" type="button" class="btn btn-success"><i class="fas fa-id-card"></i> Manage Account</a>
            <a id="logout" href="#" type="button" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </div>


</div>
<script src="/js/app/index.js"></script>