<html>
    <body>
        <p>Logging in...</p>

        <script>
            localStorage.setItem("token", "<%= token %>");
            window.location.assign("<%= config.")
            
        </script>
    </body>
</html>