<html>
    <body>
        <p>Logging in...</p>

        <script>
            localStorage.setItem("token", "<%= token %>");
            let redirect = '<%= redirect %>'.replace("amp;", "");
            window.location.assign(redirect)
            
        </script>
    </body>
</html>